.p {
    padding: 0 5%;
}
.padding {
  padding: 5%;
}
.m{
    margin: 0 20%;
}
.centrar{
  margin: 0 auto;
}
.foto{
  border-radius: 5%;
}
.perfil {
  border-radius: 35px;
}
.perfil-user {
  display: block !important;
  text-align: center;
  padding: 15px;
  background-color: lightblue;
  margin: 15px;
}
mat-form-field {
  margin: 15px;
}